= form_for @entry_schedule do |f|
  = f.error_messages

  .form-group
    = f.label :category_id, value: "Category"
    = f.select :category_id, grouped_options_for_select(current_household.categories_for_select, selected: f.object.category_id), {prompt: "Select a category..."}, class: "form-control"

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :amount
    .input-group
      %span.input-group-addon $
      = f.number_field :amount, class: "form-control input-mini"

  .form-group
    = f.label :frequency
    = f.select :frequency, options_for_select(EntrySchedule::FREQUENCIES.map{|f| [f.humanize, f]}, selected: f.object.frequency), {prompt: "Select frequency..."}, class: "form-control"

  .form-group
    = f.label :starts_on
    = f.date_field :starts_on, class: "form-control"

  - unless @entry_schedule.new_record?
    .form-group
      = f.label :active do
        = f.check_box :active
        Active?

  = f.submit "Save", class: 'btn btn-primary'
  = link_to "Cancel", entry_schedules_path, class: 'btn btn-default'
