= form_for @entry, html: { class: 'form-horizontal' } do |f|
  = f.error_messages

  .control-group
    = f.label :category_id, class: 'control-label', value: "Category"
    .controls
      = f.select :category_id, grouped_options_for_select(current_household.categories_for_select, selected: f.object.category_id)

  .control-group
    = f.label :amount, class: 'control-label'
    .controls
      .input-append.input-prepend
        %span.add-on $
        = f.text_field :amount, class: "input-mini"
        %span.add-on .00

  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, rows: 4, cols: 60

  .control-group
    = f.label :incurred_on, class: 'control-label'
    .controls
      = f.date_field :incurred_on

  .form-actions
    = f.submit "Save", class: 'btn btn-primary'
    = link_to "Cancel", entries_path, class: 'btn'
