= form_for @entry do |f|
  = f.error_messages

  - if current_household.recent_entry
    .form-group
      %label Most recent entry
      %p{style: 'padding: 5px; margin: 0'}
        %em= current_household.recent_entry.readable

  .form-group
    = f.label :category_id, value: "Category"
    = f.select :category_id, grouped_options_for_select(current_household.categories_for_select, selected: f.object.category_id), {prompt: "Select a category..."}, class: "form-control"

  .form-group
    = f.label :amount
    .input-group
      %span.input-group-addon $
      = f.number_field :amount, class: "form-control input-mini"

  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"

  .form-group
    = f.label :incurred_on
    = f.date_field :incurred_on, class: "form-control"

  .checkbox
    = label_tag do
      = check_box_tag :amortized, true, f.object.incurred_until.present?, id: :incurred_until_group_toggle
      Over a fixed period?

  .form-group#incurred_until_group
    = f.label :incurred_until
    = f.date_field :incurred_until, class: "form-control"

  = f.submit "Save", class: 'btn btn-primary', data: {"form-actions-spinner" => true}
  = link_to "Cancel", entries_path, class: 'btn btn-default'
