- content_for :sidebar do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Entries by Date
      %li= link_to "This Month", entries_path(scope: "this_month")
      %li= link_to "Last Month", entries_path(scope: "last_month")
      %li.nav-header Entries by Type
      %li= link_to "Scheduled", entries_path(type: "scheduled")
      %li= link_to "Income", entries_path(type: "income")
      %li= link_to "Expenses", entries_path(type: "expense")
      %li= link_to "Savings", entries_path(type: "savings")
      %li.nav-header Entries For
      %li
        = select_tag :entry_type_filter, grouped_options_for_select(current_household.categories_for_select), id: "entry_type_filter_select"

.page-header
  %h2
    Entries
    - if @filter_title.present?
      for
      = @filter_title

.row-fluid
  .span4= link_to "Add Entry", new_entry_path, class: 'btn btn-primary'
  .span8.text-right= will_paginate(@entries, inner_window: 1)

%br

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Category
      %th Amount
      %th Description
      %th Incurred
      %th Added
      %th User
      %th Actions
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.category.name
        %td= number_to_currency entry.amount, precision: 0
        %td= entry.description
        %td
          = entry.incurred_on.to_s(:words)
          - if entry.amortized?
            \-
            = entry.incurred_until.to_s(:words)
        %td
          = distance_of_time_in_words_to_now(entry.created_at)
          ago
        %td= entry.user.try(:short_name)
        %td
          = link_to "Edit", edit_entry_path(entry), class: 'btn btn-mini'
          = link_to "Delete", entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'
