- model_class = Entry
.page-header
  %h2=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:type) + ':'
  %br
  = @entry.type
%p
  %strong= model_class.human_attribute_name(:category_id) + ':'
  %br
  = @entry.category_id
%p
  %strong= model_class.human_attribute_name(:household_id) + ':'
  %br
  = @entry.household_id
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @entry.user_id
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @entry.description
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @entry.amount
%p
  %strong= model_class.human_attribute_name(:incurred_on) + ':'
  %br
  = @entry.incurred_on

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), entries_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_entry_path(@entry), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), entry_path(@entry), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
