= form_for @authorized_email do |f|
  = f.error_messages

  .form-group
    = f.label :email
    = f.text_field :email, class: "form-control"

  .form-group
    = f.label :household_id
    = f.text_field :household_id, class: "form-control"

  = f.submit nil, class: 'btn btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), authorized_emails_path, class: "btn btn-default"
