.page-header
  %h2 Authorized Emails

%p
  = form_for @authorized_email || AuthorizedEmail.new, html: { class: 'form-inline' } do |f|
    = f.email_field :email, required: true
    = f.submit "Add Email", class: 'btn btn-primary'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Email
      %th Actions
  %tbody
    - @authorized_emails.each do |authorized_email|
      %tr
        %td= authorized_email.email
        %td
          = link_to t('.destroy', :default => t("helpers.links.destroy")), authorized_email_path(authorized_email), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
