= nav_bar responsive: true, brand: "Expenses#{Rails.env.development? ? " <span class='label label-important'>Development</span>" : "" }".html_safe, brand_link: root_path, inverse: true do
  = menu_group do
    = menu_item "Add Entry", new_entry_path
    = menu_item_entries_override "Entries", entries_path
    = menu_item "Schedule", entry_schedules_path
    = menu_item "Data", data_path
    = drop_down "Admin" do
      = menu_item "Categories", categories_path
      = drop_down_divider
      = menu_item "Household", household_path(current_household)
      = menu_item "Login Tokens", login_tokens_path
      = menu_item "Authorized Emails", authorized_emails_path

  = menu_group pull: :right do
    = menu_item "Logout", destroy_user_session_path, method: :delete
