.page-header
  %h2 Login Tokens

%p
  = form_for @login_token || LoginToken.new, html: { class: "form-inline" } do |f|
    = f.error_messages
    .form-group
      = f.select :user_id, current_household.users.sort.map{|u| [u.email, u.id] }, {}, class: "form-control"
    .form-group
      = f.text_field :description, class: "form-control"
    = f.submit "Create Token", class: "btn btn-primary"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Description
      %th User
      %th Token
      %th Link
      %th Actions
  %tbody
    - @login_tokens.each do |login_token|
      %tr
        %td= login_token.description
        %td= login_token.user.email
        %td= login_token.token
        %td= link_to "Link for home screen", user_token_url(token: login_token.token)
        %td
          = link_to t('.destroy', :default => t("helpers.links.destroy")), login_token_path(login_token), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
