.well.sidebar-nav
  %ul.nav.nav-list
    %li
      %h5 Data
    %li= link_to "Yearly breakdown", yearly_breakdown_data_path
    %li= link_to "Yearly totals", yearly_totals_data_path
    %li= link_to "Cost of car ownership", car_data_path
    %li
      %h5 Graphs
    %li= link_to "Monthly expense and income", monthly_expense_income_data_path
    %li= link_to "Expense breakdown", expense_breakdown_data_path
