- content_for :sidebar do
  = render partial: "data/sidebar"

.page-header
  %h3
    Breakdown for
    = @breakdown.year

= form_tag "", class: "form-inline", method: :get do
  = select_tag :year, options_for_select(@breakdown.household.applicable_years, selected: params[:year].presence.try(:to_i))
  = button_tag "Change year", class: "btn btn-primary"
