= form_for @category, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'input-large', required: true

  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, rows: 4, cols: 60, placeholder: "Optional"

  .control-group
    = f.label :income, class: 'control-label'
    .controls
      = f.check_box :income

  .control-group
    = f.label :essential, class: 'control-label'
    .controls
      = f.check_box :essential

  - if !@category.new_record?
    .control-group
      = f.label :active, class: 'control-label'
      .controls
        = f.check_box :active

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), categories_path, class: 'btn'
