= form_for @category do |f|
  = f.error_messages

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :description
    = f.text_area :description, rows: 4, cols: 60, placeholder: "Optional", class: "form-control"

  .form-group
    = f.label :category_type, value: "Type"
    = f.select :category_type, options_for_select(Category::TYPES.map{|c| [c.humanize, c]}, selected: f.object.category_type), {prompt: "Select a type..."}, class: "form-control"

  .checkbox
    = f.label :income do
      = f.check_box :income
      Income?

  - if !@category.new_record?
    .checkbox
      = f.label :active do
        = f.check_box :active
        Active?

  = f.submit "Save", class: 'btn btn-primary'
  = link_to "Cancel", categories_path, class: "btn btn-default"
