.page-header
  %h2 Categories

%p= link_to "New Category", new_category_path, :class => 'btn btn-primary'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Type
      %th Income?
      %th Active?
      %th Actions
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.name, edit_category_path(category)
        %td= category.description
        %td= category.category_type.humanize
        %td= boolean_glyph category.income
        %td= boolean_glyph category.active
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(category), :class => 'btn btn-mini'
