= form_for @household do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :started_on
    = f.date_field :started_on, class: "form-control"

  = f.submit "Save", class: "btn btn-primary"
  = link_to "Cancel", household_path(@household), class: "btn btn-default"
